<div class="container">
  <section class="league-info">
    <h1><%= @sports_league.name %></h1>
    <div class="league-dates">
      <p>Waiver Deadline: <%= @sports_league.waiver_deadline.to_s(:long) %></p>
      <p>Trade Deadline: <%= @sports_league.trade_deadline.to_s(:long) %></p>
      <p class="championship">Championship Date: 
        <%= @sports_league.championship_date.to_s(:long) %></p>
    </div>
  </section>
  <section class="players-collection">
    <div class="players-container">
      <table class="players-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Final Ranking</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          <% @sports_league.fantasy_players
              .order("fantasy_players.name").each do |players| %>
            <tr>
              <td><%= players.name %></td>
              <td class="ranking"><%= players.final_ranking %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
