<div class="container">
  <h1>The 338 Challenge</h1>
  <br></br>
  <% @fantasy_leagues.each do |fantasy_league| %>
  <section class="fantasy-league-info">
    <h3>
      <%= link_to fantasy_league.name, fantasy_league_path(fantasy_league) %>
    </h3>
    <h5>Top 5 Fantasy Teams</h5>
  </section>
  <section class="teams-collection">
    <div class="teams-container">
      <table class="teams-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
            <th>Winnings</th>
          </tr>
        </thead>
        <tbody>
          <% fantasy_league.fantasy_teams.with_points_and_winnings.limit(5).
            each_with_index do |team, index| %>
            <tr>
              <td><%= index +1 %></td>
              <td><%= link_to team.name, fantasy_team_path(team) %></td>
              <td><%= team.points %></td>
              <td><%= team.winnings %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="spacer"></div>
    </div>
  </section>
  <% end %>
</div>
