<ul>
  <li class="home">
    <%= link_to "Home", root_path %>
  </li>
  <li class="fantasy-teams">
    <%= link_to "Fantasy Leagues", root_path %>
  </li>
  <li class="leagues">
    <%= link_to "Sports Leagues", sports_leagues_path %>
  </li>
  <li class="about">
    <%= link_to "About", page_path("about") %>
  </li>
  <% if current_user.try(:admin?) %>
    <li class="admin">
      <%= link_to "Admin", admin_root_path %>
    </li>
  <% end %>
  <% if signed_in? %>
    <li class="user">
      Signed in as: <%= current_user.email %>
    </li>
    <li class="sign_out">
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    </li>
  <% else %>
    <li class="sign_in">
      <%= link_to 'Sign in', sign_in_path %>
    </li>
  <% end %>
</ul>
