<ul>
  <li class="home">
    <%= link_to "Home", root_path %>
  </li>
  <li class="fantasy-teams">
    <%= link_to "Fantasy Teams", fantasy_teams_path %>
  </li>
  <li class="leagues">
    <%= link_to "Sports Leagues", sports_leagues_path %>
  </li>
  <li class="about">
    <%= link_to "About", page_path("about") %>
  </li>
  <li class="admin">
    <%= link_to "Admin", admin_root_path %>
  </li>
</ul>
