<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head_contents" %>
</head>
<body class="<%= body_class %>">
  <header>
    <%= render "layouts/header" %>
    <%= render "flashes" -%>
  </header>
  <main class="content">
    <%= yield %>
  </main>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
