<!DOCTYPE html>
<html lang="en">
<head>
  <% render "layouts/head_contents" %>
</head>
<body class="<%= body_class %>">
  <%= render "layouts/header" %>
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
